<div
  class="container mx-auto flex flex-wrap py-6"
  data-aos="zoom-in"
  data-aos-duration="1200"
>
  <picture class="px-3">
    <source media="(min-width: 769px)" srcset="../src/assets/banner.png" />
    <source
      media="(max-width: 768px)"
      srcset="../src/assets/small_banner.png"
    />
    <img class="rounded-xl" src="/img/mobile-size.png" />
  </picture>

  <section class="w-full md:w-2/3 flex flex-col items-center px-3">
    <article class="flex flex-col mt-4">
      <div
        class="bg-white flex flex-col justify-start px-6"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1500"
      >
        <p class="text-3xl font-bold pb-4">
          Condições Especiais para a Construção do seu sonho!
        </p>
        <p class="pb-6">Seu lar pode estar mais perto do que você imagina.</p>
      </div>
    </article>
  </section>

  <aside
    class="w-full md:w-1/3 flex flex-col items-center px-3"
    data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1700"
  >
    <div class="w-full bg-white flex flex-col mt-4 px-6">
      <p class="text-xl font-semibold">Não fique fora dessa!</p>
      <a
        href="https://m.me/1821948678084329"
        target="_blank"
        class="
          w-full
          bg-blue-500
          text-white
          font-bold
          text-sm
          uppercase
          rounded
          hover:bg-blue-700
          flex
          items-center
          justify-center
          px-2
          py-3
          mt-4
        "
      >
        Fale Conosco &nbsp;<i class="fab fa-facebook-messenger"></i>
      </a>
    </div>
  </aside>
</div>;
