<nav
  class="w-full pb-12 pt-3"
  style="
    background: linear-gradient(
      180deg,
      rgba(1, 132, 240, 1) 0%,
      rgba(1, 132, 240, 1) 38%,
      rgba(34, 149, 242, 1) 64%,
      rgba(255, 255, 255, 1) 100%
    );
  "
>
  <div
    class="w-full container mx-auto flex flex-wrap items-center justify-between"
  >
    <nav class="pl-4" data-aos="fade-right" data-aos-duration="1000">
      <a href="https://itude.com.br" target="_blank">
        <img
          src="../src/assets/logo-primary-dark.png"
          alt="logo itude"
          style="height: 4rem"
        />
      </a>
    </nav>

    <div
      class="flex items-center text-lg no-underline text-white pr-6"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <a class="" href="https://www.facebook.com/itudenegociosimobiliarios">
        <i class="fab fa-facebook"></i>
      </a>
      <a
        class="pl-6"
        href="https://www.instagram.com/itudenegociosimobiliarios"
      >
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
